.h_adjust {
  height: 100% - 60px;
}

.ipt .MuiFilledInput-root{
  border-radius: 12px;
  border-color: none;
}

.ipt {
  border-radius: 12px;  
  background-color: #fff;
  border: none;
}

.ipt .MuiOutlinedInput-notchedOutline {
  border-radius: 12px;
  border: none;
}

.ipt .MuiOutlinedInput-root {
  border-radius: 12px;
  border-width: 0px;
  border-color: none;
}

/* 輸入的格式 */
.MuiInputBase-input {
  font-family: "Roboto", 'Noto Sans TC', 'PingFang TC', sans-serif !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

/* 標籤的格式 */
.MuiInputLabel-root {
  font-family: "Roboto", 'Noto Sans TC', 'PingFang TC', sans-serif !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

/* 下拉選單的 Paper */
.MuiPaper-root {
  font-family: "Roboto", 'Noto Sans TC', 'PingFang TC', sans-serif !important;
  font-weight: 600 !important;
  border-radius: 6px !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

.ipt .MuiOutlinedInput-root.Mui-focused fieldset {
  border-width: 1px;
}

.ipt .MuiInputLabel-root.Mui-focused {
  border-width: 1px;
  color: rgba(0, 0, 0, 0.4);
}

.ipt .MuiInputBase-root {
  border-radius: 12px; /* 強化圓角 */
}

.MuiInputBase-root {
  border-radius: 12px; /* 強化圓角 */
}

.MuiSelect-select {
    border-radius: 12px; /* 強化圓角 */
}

.myBtn {
    height: 3.2em !important;
    margin-top: 5px !important;
    background-color: #4793C8 !important;
    border-radius: 8px !important; /* 強化圓角 */
    font-size: 1.0375rem !important;
    font-weight: 700 !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.001) !important;
}